@font-face {
  font-family: "Qanelas-SemiBold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Qanelas-SemiBold/Qanelas-SemiBold.eot");
  src: url("../fonts/Qanelas-SemiBold/Qanelas-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Qanelas-SemiBold/Qanelas-SemiBold.woff2") format("woff2"), url("../fonts/Qanelas-SemiBold/Qanelas-SemiBold.woff") format("woff"), url("../fonts/Qanelas-SemiBold/Qanelas-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Qanelas-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Qanelas-Medium/Qanelas-Medium.eot");
  src: url("../fonts/Qanelas-Medium/Qanelas-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Qanelas-Medium/Qanelas-Medium.woff2") format("woff2"), url("../fonts/Qanelas-Medium/Qanelas-Medium.woff") format("woff"), url("../fonts/Qanelas-Medium/Qanelas-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Qanelas-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Qanelas-Regular/Qanelas-Regular.eot");
  src: url("../fonts/Qanelas-Regular/Qanelas-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Qanelas-Regular/Qanelas-Regular.woff2") format("woff2"), url("../fonts/Qanelas-Regular/Qanelas-Regular.woff") format("woff"), url("../fonts/Qanelas-Regular/Qanelas-Regular.ttf") format("truetype");
}
